<h1>会員登録</h1>
<%= form_for( @user , url: user_create_path) do |f| %>
なまえ：<%= f.text_field :name %><br />
めーる：<%= f.text_field :email %><br />
パスワード：<%= f.text_field :password %><br />
パスワード再確認：<%= f.text_field :password_confirmation %><br />
<%= f.submit "登録" %>
<% end %>